

*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

/*html{
	scroll-behavior: smooth;
	}*/



	.offset:before{
		height: 4rem;
		margin-top: -4rem;
		content: "";
		display: block;
	}

	/*-- Navbar __*/
	.navbar{
		text-transform: uppercase;
		font-weight: 700;
		font-size: .9rem;
		letter-spacing: .1rem;
		background: rgba(0,0,0,.9) !important;
	}

	.navbar-brand img{
		height: 3rem;
	}

	.navbar-nav li{
		padding-right: .7rem; 
	}

	.navbar-dark .navbar-nav .nav-link{
		color: #FFFFFF;
		padding-top: .8rem;
	}

	.navbar-dark .navbar-nav .nav-link.active,
	.navbar-dark .navbar-nav .nav-link:hover{
		color: #690088;

	} 

	.navbar-dark .navbar-nav .nav-link img {
		padding: 5px;
		font-size: 35px;
		width: 35px;
		background: #25D366;
		

		border-radius: 5px;
	}

	/* -- Slider --*/

	.carousel-item{
		height: 100vh;
	}

	.carousel-caption{
	/*position: absolute;
	top:38%;*/
	text-transform: uppercase;
	width: 100%;
	right: 0;
	left: 0;
}

.carousel-caption h1{
	font-size: 3.8rem;
	font-weight: 700;
	letter-spacing: .3rem;
	text-shadow: .1rem .1rem .8rem black;
	padding-bottom: 1rem;
}

.carousel-caption h3{
	font-size: 2rem;
	text-shadow: .1rem .1rem .5rem black;
	padding-bottom: 1.6rem;
	padding: 2rem;
}

.btn-lg{
	border-width: medium;
	border-radius: 0;
	font-size: 1.1rem;
}

/*============= SOBRE SECTION =============*/

#sobre{
	padding: 5rem;
}


/*============= PORTIFOLIO SECTION =============*/


#portifolio{
	background-color: #cccccc;
	margin-top: 4rem;
}

h3.heading{
	font-size: 1.9rem;
	font-weight: 700;
	text-transform: uppercase;
	padding-bottom: 1.9rem;

}

.portifolio img{
	max-width: 200px;
	transition: transform .5s ease;
}

.row.no-padding [class*=col-]{
	padding: 10px;
	margin-bottom: 10px;
}
.portifolio img:hover{
	transform: scale(1.1);
	cursor: pointer;
}

/*.portifolio{
	overflow: hidden;
	}*/

	/*============= CONTATO SECTION =============*/


	#contato{
		background-color: #292929;
		margin-top: 4rem;
	}

	#contato h3{
		color: #fbfbfb;
	}	

	#contato img{
		max-width: 300px;
	}

	#contato p{
		color: #fbfbfb;
	}

	.contato{
		margin-top:10%;
	}

	.sucesso{
		color: green;
	}

	.erro{
		color: red;
	}

	

	input, textarea {
		border:none;
		outline: none;
		background: none;
		width: 200px;
		padding: 10px;
		color: #FFFFFF;
		margin-left: 20px;
		
		border-bottom: 1px solid #5000D8;
		margin-bottom: 10px;
	}

	textarea {
		height: 120px;
		line-height: 20px;
		width: 425px;
		border: 1px solid #5000D8;
	}

	#assunto{
		width: 425px;
	}

	#email{
		width: 425px;
	}

	#botaoenviar{
		width: 425px;
		background-color: #000000;
		color: #FFFFFF;
		border: none;
		border-radius: 10px;
	}

	@media (max-width: 768px){
		.portifolio img{
			max-width: 100%;
			transition: transform .5s ease;
		}

		.carousel-caption h1{
			font-size: 1.8rem;
			font-weight: 700;
			letter-spacing: .3rem;
			text-shadow: .1rem .1rem .8rem black;
			padding-bottom: 1rem;
		}

		.carousel-caption h3{
			font-size: 0.9rem;
			text-shadow: .1rem .1rem .5rem black;
			padding-bottom: 1.6rem;
		}

		
	}

	@media (max-width: 1000px){
		#sobre img{
			max-width: 280px;
		}
	}

	@media screen and (max-width: 490px) {

		textarea {
			height: 120px;
			line-height: 20px;
			width: 200px !important;
		}

		#assunto{
			width: 200px !important;
		}

		#email{
			width: 200px !important;
		}

		#botaoenviar{
			width: 200px !important;
		}

		.imagem p{
			display: block;
		}
	}




	/*============= TEAM SECTION =============*/


/*============ BOOTSTRAP BREAK POINTS:

Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

=============*/